@font-face {
    font-family: 'vazir';
    src: url('./../font/Vazir.ttf');
}
:root{
    --main-color: #08071d;
    --simillar-color: #11101a;
    --border-color: #3b3b3b;
    --text-color: #c0bebe;
}
body {
    direction: rtl;
    font-family: vazir !important;
    color: var(--text-color);
}